@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "IZENY";
}

<h1 style="color: #ee8b12; margin-bottom: 25px;">Conheça os nossos serviços:</h1>

<div class="divFrame metade" style="margin-right: 47px;">
    <img src="~/Images/Icons/estoque_blue.png" />
    <div style="margin-left: 110px;">
        <h2>Estoque</h2>
        Tenha o seu estoque na ponta do lápis. O módulo de Estoque permite que você cadastre e gerencie o seu estoque com praticidade.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Saiba Mais…</a>
    </div>
</div>
<div class="divFrame metade">
    <img src="~/Images/Icons/cliente_blue.png" />
    <div style="margin-left: 110px;">
        <h2>Clientes</h2>
        Esteja com os dados e contatos de seus clientes sempre atualizados e organizados.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Saiba Mais…</a>
    </div>
</div>  
<div class="divFrame metade" style="margin-right: 47px;">
    <img src="~/Images/Icons/fornecedor_blue.png" />
    <div style="margin-left: 110px;">
        <h2>Fornecedores</h2>
        Cadastre seus fornecedores, contatos, compare propostas, e feche com as melhores ofertas.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Saiba Mais…</a>
    </div>
</div>   
<div class="divFrame metade">
    <img src="~/Images/Icons/ordem_servico_blue.png" />
    <div style="margin-left: 110px;">
        <h2>Ordem de Serviços</h2>
        Gerencie seus pedidos de clientes através da nossa ferramenta de gestão de Ordem de Serviços.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Saiba Mais…</a>
    </div>
</div>
<div class="divFrame metade" style="margin-right: 47px;">
    <img src="~/Images/Icons/chart_blue.png" />
    <div style="margin-left: 110px;">
        <h2>Gráficos</h2>
        Confira os resultados e registros de sua empresa para fazer projeções e planejamentos.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Saiba Mais…</a>
    </div>
</div>